<%- include('../partials/head') %> <%- include('../partials/head_end') %> <%-
include('../partials/navigation') %>
<article class="about">
  <!-- <h1 class="about-title">About</h1>
  <p class="about-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia quidem
    nemo architecto excepturi, quia quibusdam praesentium. Nemo impedit ex
    nesciunt illum. Iste repellendus sequi sapiente soluta commodi minus tempore
    illum eius magni! Quo provident illo quod sunt facilis praesentium alias
    nihil neque, deserunt iusto, ea error impedit sapiente. Quae fugit quod,
    quibusdam animi quaerat aperiam provident eveniet placeat odit delectus?
  </p> -->
</article>

<template id="about-template"
  ><h1 class="about-title"></h1>
  <p class="about-text"></p
></template>
<%- include('../partials/footer') %>
<script src="../../../assets/js/navigation.js"></script>
<script src="../../../assets/js/about.js"></script>
