<%- include('../partials/head') %>
<%- include('../partials/head_end') %>

<main>
    <article class="details">

        <section class="details__top">
            <div class="details__title-container">
                <div class="details__box">
                    <h1 class="details__title" >Flow yoga workout</h1>
                    <p>rating ******</p>
                </div>
                <button  class="details__button">Sign up</button>
            </div>
        </section>

        <section  class="details__btm">
            <h2 class="details__btm-title">schedule</h2>
            <div class="details__date-time">
                <p class="details__day">monday</p>
                <p class="details__time"> 19:30 </p>
            </div>
            <p class="details__info">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam, quas!</p>
            <div class="details__trainer">
                <h2 class="details__trainer-title">Trainer</h2>
                <div class="details__trainer-info">
                    <img class="details__trainer-img" src="https://via.placeholder.com/70" alt="">
                    <p class="details__trainer-text">Davina jones</p>
                </div>

            </div>
        </section>
    </article>
</main>