<%- include('../partials/head') %>
<%- include('../partials/head_end') %>

<main>
    <article class="details">

        <section class="details__top">
            <div class="details__title-container">
                <div class="details__box">
                    <h1 class="details__title" ></h1>
                    <p>rating ******</p>
                </div>
                <button  class="details__button">Sing up</button>
            </div>
        </section>

        <section  class="details__btm">
            <h2 class="details__btm-title">schedule</h2>
            <div class="details__date-time">
                <p class="details__day"></p>
                <p class="details__time"> </p>
            </div>
            <p class="details__info"></p>
            <div class="details__trainer">
                <h2 class="details__trainer-title">Trainer</h2>
                <div class="details__trainer-info">
                    <div>
                        <img class="details__trainer-img" src="https://via.placeholder.com/70" alt="">
                    </div>
                    <p class="details__trainer-text"></p>
                </div>

            </div>
        </section>
    </article>
</main>
<script src="../../../assets/js/index.js"></script>
<script src="../../../assets/js/details.js"></script>