
<%- include('../partials/head') %>
<%- include('../partials/head_end') %>

<body>
    
<nav class="nav">
 
    <h1 class="nav__title">Popular classes</h1>
    <div class="nav__icons">
    
      <div aria-label="Go Back" class="nav__back-icon">
        <i class="nav__back fas fa-caret-up"></i>
        <!-- <p>back</p> -->
  
      </div>
      <i  class="nav__burger fas fa-bars"></i>
  
    </div>
    <ul class="nav-list">
      <li><a href="/home">Home</a></li>
      <li><a href="/search">Search</a></li>
      <li><a href="/schedule">My schedule</a></li>
      <li class="login">log in</li>
    <form method="GET" class="form"id="form" novalidate>
      <input name="name" class="form_input form__name" placeholder="Username">

      <input type="password" name="password" class="form_input form_password" placeholder="Password">

      <div class="error-message">wrong</div>

      <button class="form__btn">Log in</button>
  </form>
  </ul>
    </ul>
  </nav>
  
    <main>

        <article class="home">
            <section class="home__top">
                <h1 class="home__title"></h1>
            </section>
    
            <h2 class="home__title-btm">class for you</h2>
            <section class="home__btm">
                <!-- <div class="home__classes">
                    <img class="home__class-img" src="https://via.placeholder.com/150" alt="">
                    <h3 class="home__class-name"> daily go pro</h3>
                </div>
                <div class="home__classes">
                    <img class="home__class-img" src="https://via.placeholder.com/150" alt="">
                    <h3 class="home__class-name"> daily go pro</h3>
                </div>
                <div class="home__classes">
                    <img class="home__class-img" src="https://via.placeholder.com/150" alt="">
                    <h3 class="home__class-name" > daily go pro</h3>
                </div> -->
            </section>
        </article>
    </main>
    <template class="home__template">
        <div class="home__classes">
            <a href="" class="home__details-link">
                <div>

                    <img class="home__class-img" src="https://via.placeholder.com/150" alt="">
                </div>
            <h3 class="home__class-name"> daily go pro</h3>
        </a>
        </div>
    </template>

    <script src="../../../assets/js/index.js"></script>
    <script src="../../../assets/js/home.js"></script>
    <script src="../../../assets/js/navigation.js"></script>
    <script src="../../../assets/js/login.js"></script>

</body>

</html>
