
<%- include('../partials/head') %>
<%- include('../partials/head_end') %>
<%- include('../partials/navigation',{back: true}) %>
<body>
    <main>

        <article class="home">
            <section class="home__top">
                <h1 class="home__title">Lower abs workout</h1>
            </section>
    
            <h2 class="home__title-btm">class for you</h2>
            <section class="home__btm">
                <div class="home__classes">
                    <img class="home__class-img" src="https://via.placeholder.com/150" alt="">
                    <h3 class="home__class-name"> daily go pro</h3>
                </div>
                <div class="home__classes">
                    <img class="home__class-img" src="https://via.placeholder.com/150" alt="">
                    <h3 class="home__class-name"> daily go pro</h3>
                </div>
                <div class="home__classes">
                    <img class="home__class-img" src="https://via.placeholder.com/150" alt="">
                    <h3 class="home__class-name" > daily go pro</h3>
                </div>
            </section>
        </article>
    </main>

    <script src="../../../assets/js/index.js"></script>
    <script src="../../../assets/js/navigation.js"></script>
</body>

</html>
