
 <%- include('../partials/head') %>
 <%- include('../partials/head_end') %>
  
 
      <main class="welcome-page" >
        <article class="welcome">
          <h1 class="welcome__title">believe yourself</h1>
          <div class="welcome__subline">
              <div class="welcome__line"></div>
              <h2 class="welcome__subtitle">Train like a pro</h2>
          </div>
        </article>
        <article class="welcome-start">
        
            <div class="welcome-start__btn"><a href="./home">Start
            training</a></div>
        </article>
            
      </main>
    <script src="../../../assets/js/index.js"></script>
    
  </body>
</html>
