

<%- include('../partials/head') %>
<%- include('../partials/head_end') %>
<body>
    <main>
    
        <form method="GET" class="test"id="test" novalidate>
            <input type="text" name="name" id="form__name" value="" class="form_input test__name" placeholder="Username">
        
            <input type="password" id="test__password" value="" name="password" class="form_input test__password" placeholder="Password">
        
            <div class="message">wrong</div>
        
            <input type="submit" class="test__btn"></input>
        </form>
        
        <script src="../../../assets/js/loginTest.js"></script>
    </main>
    
</body>
