<%- include('../partials/head') %>
<%- include('../partials/head_end') %>
<%- include('../partials/navigation',{back: true}) %>
<main>
    <article class="schedule">
        <h1 class="schedule__title">My schedule</h1>
        <section class="schedule__details" >
            <ul class="schedule__list">
                <li class="schedule__list-item">
                    <div class="schedule__date-time">
                        <p class="schedule__day">monday</p>
                        <p class="schedule__time"> 19:30 </p>
                    </div>
                    <h4 class="schedule__class-name">Flow yoga workout</h4>
                </li>
                <li class="schedule__list-item">
                    <div class="schedule__date-time">
                        <p class="schedule__day">monday</p>
                        <p class="schedule__time"> 19:30 </p>
                    </div>
                    <h4 class="schedule__class-name">Flow yoga workout</h4>
                </li>
            </ul>
        </section>
    </article>
</main>

<script src="../../../assets/js/navigation.js"></script>
</body>

</html>