.details {
  margin-bottom: 13rem;
  //   width: 100%;
  //   height: 100%;

  &__top {
    background-color: $grey;
    width: 100%;
    height: 60vh;
    // display: flex;
    // justify-content: space-between;
    // align-items: flex-end;

    padding: 0 0 1.5rem 2rem;
    position: relative;
  }
  &__title-container {
    // width: 100vh;
    // overflow: hidden;

    position: absolute;
    bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 2.7rem;
    text-transform: capitalize;
    color: #ffffff;
  }

  &__button {
    position: absolute;
    right: 0;
    font-size: $fs-medium;
    border-radius: 10px 0px 0 10px;
    border: grey 1px solid;
    background-color: #ffffff;
    width: 8rem;
    height: 4rem;
  }

  //lower section

  &__btm {
    margin: 1rem 2rem;
  }
  &__btm-title {
    font-size: $fs-medium;
    text-transform: capitalize;
  }
  &__date-time {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
  }
  &__info {
    margin: 1rem 0;
  }
  &__trainer-title {
    margin: 1.5rem 0;
    font-size: $fs-small;
  }
  &__trainer-info {
    display: flex;
    align-items: center;
  }
  &__trainer-img {
    margin-right: 1rem;
  }
  &__trainer-text {
    font-size: 1rem;
  }
}
